<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  </head>

  <body>
    <div id="app" class="container">
      <!--Implementando v-for en una lista--->
      <!--<ul>
        <li v-for="(task, index) in tasks">{{ index + 1 }} : {{ task }}</li>-->
        <!--<li v-for="(task,indice) of tasks">
          <del v-if="!task.pending">{{task.title}}</del>
          <template v-else>
            {{task.title}}
          </template>
        </li>

      </ul>-->

      <h4>Todas las tareas</h4>
      <ul>
        <li v-for="task of tasks">
          {{task.title}}
        </li>
      </ul>
      <h4 v-if="pendingTasks.length">Tareas pendientes</h4>
      <ul v-if="pendingTasks.length">
        <li v-for="task of pendingTasks">
          {{task.title}}
        </li>
      </ul>
      <!--Otra forma de hacerlo-->
      <!--
      <template v-for="(tarea, indice) in tasks">
        <p>{{ indice + 1 }}: {{ tarea }}</p>
        <hr>
      </template>
    -->
      <!--Crear una tarea-->
      <form @submit.prevent="createTask">
        <input  type="text"
                class="form-control"
                v-model="new_task">
        <button class="btn btn-primary" >Crear tarea</button>
      </form>

      <footer class="footer">
        <p>&copy; 2017 Programacion jje</p>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://unpkg.com/vue@2.2.6/dist/vue.js"></script>

    <script type="text/javascript">
      var vm = new Vue({
        el: "#app",
        data: {
          new_task: '',
          tasks: [
            {
              title: 'Aprender Vue.js',
              pending: false
            },
            {
              title: 'Inscribirse a styde.net',
              pending: true
            },
            {
              title: 'Seguir @Stydenet en Twitter',
              pending: false
            },
          ]
        },
        computed: {
          pendingTasks: function() {
            return this.tasks.filter(function(item)
            {
              return item.pending;
            });
          }
        },
        methods: {
          createTask: function(){
            //e.preventDefault(); //Esta es una manera de hacer como si fuera ajax
            this.tasks.push({
              title: this.new_task,
              pending: true
            });
            this.new_task = '';
          }

        }
      });
    </script>

  </body>
</html>
